.idea/
*.stl
*.obj
*.mtl
*.mov
Untitled*
CTA/
output/
dicom_files/
swc_files/
*.html
.DS_Store*
*.dcm
*.swc
*.zip
.ipynb_checkpoints
__pycache__
*.pyc
env/
env-work/
env-home/
env-mobile/
venv/
ENV/
env.bak/
venv.bak/
env-work.bak/
env-home.bak/
env-mobile.bak/
